@import '../../scss/style.scss';

.find-container{
    .find-left{
        @include sm{
            text-align: center;
        }
        .find-h1{
            font-family: $font-1;
            color: $color-primary;
            font-size:3.5rem;
        }
        .find-hour{
            font-family: $font-1;
            color: $color-primary;
            margin-top:20px;
        }
    }
    .find-right{
        .find-img{
        border: 15px solid $color-primary;
        }
    }
}